# [ PEACH GitIgnore ]

# [ EXCLUDED FOLDERS ]:

# GIT:
/.git/**

# ICON DESIGN:
**/icon_designs
**.ai
**/.original

# DESKTOP FILES:
**.ini

# BUILDS
**/build
**/.build

# [ PYTHON ]
*.pyc
*.pyo
**/__pycache__


# [ CMAKE ]

# [ VSCode ]
**/.vscode

# [ PyCharm ]
**/.idea