# [ PEACH GitIgnore ]

# [ *CUSTOM ]
_igr_*

# [ GIT ]:
**/.git

# [ ICON DESIGN ]
**/icon_designs
**.ai
**/.original

# [ DESKTOP FILES ]
**.ini

# [ BUILDS ]
**/build
**/.build

# [ PYTHON ]
*.pyc
*.pyo
**/__pycache__


# [ CMAKE ]
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

# [ VSCode ]
**/.vscode

# [ PyCharm ]
**/.idea

# [ Executables ]
*.exe
*.out
*.app

# [ Compiled Object files ]
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# [ Precompiled Headers ]
*.gch
*.pch

# [ Compiled Dynamic libraries ]
*.so
*.dylib
*.dll