# [ PEACH GitIgnore ]

# [ *CUSTOM ]
_igr_*
**/sandbox
**/util_x
**/nocopy
**/500w
**/512w
**/1000w
**/1024w
**/backup
**/wip
**/venv

# [ GIT ]:
**/.git

# [ ICON DESIGN ]
**/icon_designs
**.ai
**/.original
*.lnk

# [ DESKTOP FILES ]
**.ini

# [ BUILDS ]
**/build
**/.build

# [ PYTHON ]
*.pyc
*.pyo
**/__pycache__


# [ CMAKE ]
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

# [ VSCode ]
**/.vscode
**/.VSCodeCounter


# [ Executables ]
*.exe
*.out
*.app

# [ Compiled Object files ]
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# [ Precompiled Headers ]
*.gch
*.pch

# [ Compiled Dynamic libraries ]
*.so
*.dylib
*.dll